{{ if eq .chezmoi.os "darwin" -}}
["Library/Fonts"]
{{ else -}}
[".local/share/fonts"]
{{ end -}}
    type = "archive"
    url = "file://{{ .chezmoi.sourceDir }}/fonts/fonts.tar.xz.age"
    encrypted = true
    format = "tar.xz"
