sourceDir = "~/sysconf"
mode = "symlink"
encryption = "age"

[age]
  identity = "~/.config/chezmoi/key.txt"
  recipient = "age1wlm9nfwhwsc7ech57zaql2kdchj78mr4jt0quujx5yztnmzxtc9qrm5xyy"

[data]
{{ if eq .chezmoi.os "darwin" -}}
  fontDir = "Library/Fonts"
{{ else -}}
  fontDir = ".local/share/fonts"
{{ end -}}
